// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table, th, td {
   border: 1px solid black;
   padding: 10px;
}

p, strong {
  text-align: center;
  color: black;
}

.product-image {
	padding: 10px 0px;
}

.product-box {
    outline: 2px solid orange;
}
.options p {
  font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
}
.firstline {	
  padding-top: 60px;
}
.data p, .new_prod {
	text-align: left;
}
.multiline {
	min-height: 80px;
}
label {
	font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
	font-size: 1.3em;
  color: black;
  padding-top: 10px;
}
.form-control {
	background: rgb(240, 240, 255);
	color: black;
}
.btn-primary {
	margin-top: 10px;
}
.glyphicon {
	color: cornflowerblue;
	font-size: 1.3em;
	padding-right: 5px;
}
.data {
	padding-top: 10px;
}

.data p {
	font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
	font-size: 1.3em;
  color: black;
}