// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.navbar-brand a,
.navbar-brand a:focus {
  color: white;
  text-decoration: none;
}
.navbar-brand a:hover {
  color: #ff0;
  text-decoration: none;
}

.site-footer, .page-wrap:after {
  height: 40px; 
}
.site-footer {
  background: orange;
}
h1 {
  font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
  color: cornflowerblue;
  text-align: center;
}
h2 {
	font-family: 'Open Sans', Futura, Helvetica, Arial, sans-serif;
  color: black;
  text-align: center;	
}
.firstline {	
  padding-top: 60px;
}
.bike-image {
	padding-top: 20px;
	display: block;
	margin: 0 auto;
}
.carousel-inner img {
  margin: auto;
}